
.env

.idea

.vscode
logs/
storage/**

docs/docs.go
docs/swagger.json
docs/swagger.yaml

# Ingnoring web files

# dependencies
/web/node_modules
/web/.pnp
/web/.pnp.js

# testing
/web/coverage

# production
/web/build

# misc
/web.DS_Store
/web.env.local
/web.env.development.local
/web.env.test.local
/web.env.production.local

/webnpm-debug.log*
/webyarn-debug.log*
/webyarn-error.log*
